 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
 
 .starrating > input {display: none;} 
 
 .starrating > label:before { 
   content: "\f005";
   margin: 2px;
   font-size: 20px;
   font-family: FontAwesome;
   display: inline-block; 
 }
 
 .starrating > label
 {
   color: #222222;
 }
 
 .starrating > input:checked ~ label
 { color: #ffca08 ; }
 
 .starrating > input:hover ~ label
 { color: #ffca08 ;  }
 
 