/* Header */

.padrao {
    background-color: #b71b25 !important;
}

/* Disciplina */

.container {
    padding-top: 30px;
}

.card-disciplina {
    float: left;
    margin: 0 10px 20px 10px;
    width: 100%;
    max-width: 310px !important;
    height: fit-content;
}

.card-body {
    height: fit-content !important;
}

/* Index */

#body-style{
    background-color: rgba(132,132,132,0.2);
    font-family: Lato sans-serif;
    /*text-shadow: 0px 0px 1px grey;*/
}

/* Login */
