/* Header */

.padrao {
    background-color: #b71b25 !important;
}

/* Disciplina */

.container {
    padding-top: 30px;
}

.card-disciplina {
    float: left;
    width: 340px;
    line-break: auto;
    margin: 10px !important;
}

/* Index */

#body-style{
    background-color: rgba(132,132,132,0.2);
    font-family: Lato sans-serif;
    /*text-shadow: 0px 0px 1px grey;*/
}

/* Login */
